---
import Section from "../Section.astro";

import { certificates } from "@cv";
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(({ name, date, issuer, url, download }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    {download.length > 0 ? (
                      <a
                        href={`/frankbv/${download}`}
                        title={`Ver certificado de  ${name}`}
                        download={download}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        {name}
                      </a>
                    ) : (
                      <a
                        href={`${url}`}
                        title={`Ver certificado de  ${name}`}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        {name}
                      </a>
                    )}
                  </h3>
                </div>

                <time>{date}</time>
              </header>

              <footer>
                <p>{issuer}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  article a:hover {
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  time {
    min-width: 102px;
    text-align: right;
  }
</style>
